.userForm {
  margin: 0 auto;
  max-width: 30rem;
}

.userForm__input-group {
  margin-bottom: 10px;
}
.userForm__input-group label {
  margin-bottom: 5px;
}
.userForm__input-group input {
  width: 100%;
}
