.userForm {
  margin: 0 auto;
  max-width: 30rem;
  background: white;
  border-radius: 3px;
  padding: 5px;
  margin: 30px;
}
.userForm h3 {
  color: black;
  text-align: center;
}
.userForm button {
  width: 100%;
  background: aquamarine;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.userForm__error {
  color: red;
  text-align: center;
}

.userForm__input-group {
  margin: 5px;
  margin-bottom: 15px;
}
.userForm__input-group label {
  margin-bottom: 5px;
}
.userForm__input-group input {
  width: 100%;
}
