html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, sans-serif;
  word-break: break-all;
  background: rgb(98, 214, 132);
  background-size: 100vw;
  background-position: 0 100px;
  background-repeat: no-repeat;
}

h1,
h2,
h3 {
  color: white;
}

button {
  cursor: pointer;
  background-color: whitesmoke;
  color: lightcoral;
}
button:hover {
  background-color: lightgrey;
}

.App {
  /* text-align: center; */
}

.container {
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 16px;
}
