html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, sans-serif;
}

button {
  cursor: pointer;
  background-color: whitesmoke;
  color: green;
}
button:hover {
  background-color: lightgrey;
}

.App {
  /* text-align: center; */
}
.App-title {
  text-align: center;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 16px;
}

.App-header {
  background-color: dodgerblue;
  padding: 10px;
  color: white;
}
